<!--<h1>Angular</h1>-->
<!--<app-courses></app-courses>-->
<!--&lt;!&ndash;<courses></courses>&ndash;&gt;-->
<!--<hr>-->
<!--<app-success-alert></app-success-alert>-->
<!--<app-warning-alert></app-warning-alert>-->
<!--<app-server></app-server>-->

<!--<app-header></app-header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <h1>-->
<!--        I am just watching-->
<!--      </h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-odd *ngFor="let i of oddNumber" [number]="i"></app-odd>-->
<!--    <app-even *ngFor="let i of evenNumber" [number]="i"></app-even>-->
<!--  </div>-->
<!--</div>-->

<!--Testing the directives-->
<!--<app-directive></app-directive>-->
<!--<p appBasicHighlight>Styling</p>-->
<!--<p appBetterHighlight [defaultColor]="'red'" [highLight]="'yellow'">Styling</p>-->
<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
    <hr>
    <app-account
      *ngFor="let acc of accounts; let i = index"
      [account]="acc"
      [id]="i"
      (statusChanged)="onStatusChanged($event)"></app-account>

  </div>
</div>
</div>
